<nav class="header__inline-menu fs-3">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li class="nav-item dropdown">
        {%- if link.links != blank -%}
          <div class="dropdown">
            <a
              id="HeaderMenu-{{ link.handle }}"
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              {% if link.title == 'Home' %}
              style="color: #71CD14;"
              {% endif %}>
              {{ link.title | escape }}
            </a>
            <ul class="dropdown-menu">
              {%- for childlink in link.links -%}
                <li class="dropdown-submenu">
                  {%- if childlink.links == blank -%}
                    <a
                      id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                      href="{{ childlink.url }}"
                      class="dropdown-item fs-3 p-4">
                      {{ childlink.title | escape }}
                    </a>
                  {%- else -%}
                    <div class="dropdown fs-3">
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                        class="dropdown-item submenu-toggle"
                        href="#">
                        {{ childlink.title | escape }}
                      </a>
                      <ul class="dropdown-menu">
                        {%- for grandchildlink in childlink.links -%}
                          <li>
                            <a
                              id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                              href="{{ grandchildlink.url }}"
                              class="dropdown-item">
                              {{ grandchildlink.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="nav-link"
            {% if link.title == 'Home' %}
            style="color: #71CD14;"
            {% endif %}>
            {{ link.title | escape }}
          </a>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>


<style>
  .nav-link a {
    font: 25px !important;
  }
  .nav-link,
  .dropdown-item {
    color: #2a2a2a;
    text-decoration: none !important;
    padding: 0 3rem;
    font-size: 13px !important;
    font-weight: 400 !important;
  }

  .nav-link:hover,
  .dropdown-item:hover {
    color: #71cd14 !important;
    text-decoration: none !important;
  }

  /* Initially hide the dropdown */
  .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out
    , transform 0.3s ease-in-out;
  }

  .dropdown:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .dropdown-submenu:hover > .dropdown-menu {
    display: block;
    left: 100%;
    top: 0;
    color: white !important;
    background-color: #71cd14 !important;
  }

  .dropdown-toggle::after {
    display: none !important;
  }
</style>