<section class="inspired_product_area section_gap_bottom_custom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="main_title">
          <h2>
            <span>{{ section.settings.section_heading }}</span>
          </h2>
          <p>{{ section.settings.section_subheading }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      {% assign collection_handle = section.settings.product_collection | default: 'all' %}
      {% assign collection = collections[collection_handle] %}
      {% assign products = collection.products | slice: 0, section.settings.product_limit %}

      {% for product in products %}
        <div class="col-lg-3 col-md-6">
          <div class="single-product">
            <div class="product-img">
              <a href="{{ product.url }}">
                <img
                  class="img-fluid w-100"
                  src="{{ product.featured_image | image_url: width: 600 }}"
                  alt="{{ product.title }}">
              </a>
              <div class="p_icon">
                <a href="{{ product.url }}">
                  <i class="ti-eye"></i>
                </a>
                <a href="#">
                  <i class="ti-heart"></i>
                </a>
                <a href="/cart/add?id={{ product.variants.first.id }}">
                  <i class="ti-shopping-cart"></i>
                </a>
              </div>
            </div>
            <div class="product-btm">
              <a href="{{ product.url }}" class="d-block">
                <h4>{{ product.title }}</h4>
              </a>
              <div class="mt-3">
                <span class="mr-4">{{ product.price | money }}</span>
                {% if product.compare_at_price > product.price %}
                  <del>{{ product.compare_at_price | money }}</del>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Inspired Products",
    "tag": "section",
    "class": "inspired_product_area section_gap_bottom_custom",
    "settings": [
      {
        "type": "text",
        "id": "section_heading",
        "label": "Section Heading",
        "default": "Inspired products"
      }, {
        "type": "text",
        "id": "section_subheading",
        "label": "Section Subheading",
        "default": "Bring called seed first of third give itself now ment"
      }, {
        "type": "collection",
        "id": "product_collection",
        "label": "Product Collection"
      }, {
        "type": "range",
        "id": "product_limit",
        "label": "Number of Products",
        "min": 4,
        "max": 12,
        "step": 1,
        "default": 8
      }
    ],
    "presets": [
      {
        "name": "Inspired Products",
        "category": "Products"
      }
    ]
  }
{% endschema %}