{%- paginate blog.articles by 6 -%}
  <section class="blog-area section-gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="main_title">
            <h2>
              <span>{{ blog.title }}</span>
            </h2>
            <p>Bring called seed first of third give itself now ment</p>
          </div>
        </div>
      </div>

      <div class="row">
        {% for article in blog.articles %}
          <div class="col-lg-4 col-md-6">
            <div class="single-blog">
              {% if article.image %}
                <div class="thumb">
                  <img
                    class="img-fluid"
                    src="{{ article.image | img_url: '500x' }}"
                    alt="{{ article.title | escape }}">
                </div>
              {% endif %}

              <div class="short_details">
                <div class="meta-top d-flex">
                  {% if section.settings.show_author %}
                    <a href="#">By {{ article.author }}</a>
                  {% endif %}
                  <a href="{{ article.url }}">
                    <i class="ti-comments-smiley"></i>
                    {{ article.comments_count | default: 0 }} Comments
                  </a>
                </div>

                <a class="d-block" href="{{ article.url }}">
                  <h4>{{ article.title }}</h4>
                </a>

                <div class="text-wrap">
                  <p>
                    {{ article.excerpt | strip_html | truncate: 100 }}
                  </p>
                </div>

                <a href="{{ article.url }}" class="blog_btn">
                  Learn More
                  <span class="ml-2 ti-arrow-right"></span>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      {% if paginate.pages > 1 %}
        <div class="pagination-container">
          {% render 'pagination'
            , paginate: paginate %}
        </div>
      {% endif %}
    </div>
  </section>
{%- endpaginate -%}

{% schema %}
  {
    "name": "Blog Area",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_author",
        "label": "Show Author",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Blog Area"
      }
    ]
  }
{% endschema %}